/* margin-top:0;
margin-right: auto;
margin-bottom:0;
margin-left: auto; */

@font-face {
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-family: 'Open Sans Regular';
}

@font-face {
    src: url('../fonts/Open_Sans/OpenSans-Italic.ttf');
    font-family: 'Open Sans Italic';
}

@font-face {
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
    font-family: 'Open Sans Bold';
}

@font-face {
    src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
    font-family: 'Open Sans SemiBold';
}

@font-face {
    src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
    font-family: 'Open Sans ExtraBold';
}

body {
    margin: 0;
    font-family: 'Open Sans Regular', Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header */
header {
    max-width: 1579px;
    margin:0 auto;
    padding-top: 29px;
    background-color: #F6F2F2;
}

nav {
    max-width: 1249px;
    min-height: 89px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

nav ul {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

nav li {
    min-height: 89px;
    display: flex;
    align-items: stretch;
}

nav a {
    padding: 0 15px;
    color: #E0E0E0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    
}

nav a:hover {
    background-color: #FF3F40;
}

/* main */

section {
    max-width: 1579px;
}

.stage-1 {
    background-color: #F6F2F2;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 113px;
}

.stage-1 h1 {
    font-family: 'Open Sans ExtraBold';
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
}

h1 span {
    letter-spacing: 6px;
    hyphens: auto;
    word-break: break-all;
}

.content-stage-1 {
    max-width: 1249px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.stage-1-left {
    width: 50%;
    min-width: 450px;
}

.stage-1-left p {
    max-width: 519px;
    margin-top: 18px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: 'Open Sans Regular', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    word-break: break-all;
}

.contact-link {
    max-width: 227px;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid #FF2D2D;
    border-radius: 5px;
    background-color: #FF2D2D;
    font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.3195px;
    color:#FFFFFF;
    margin-top: 54px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    
}

.content-stage-1 img {
    width: 551px;
    height: 356px;
    margin-top: 9px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 450px;
}

@media screen and (max-width: 1579px) {
    .content-stage-1 {
        flex-wrap: nowrap;
    }

    .stage-1-left {
        width: 70%;
    }
    .content-stage-1 img {
        width: 70%;
        height: auto;
    }
}

@media screen and (max-width: 950px) {
    .content-stage-1 {
        flex-wrap: wrap;
    }

    .stage-1-left {
        width: 50%;
        min-width: 300px;
    }

    .content-stage-1 img {
        width: 100%;
        height: auto;
        min-width: 300px;
    }
}

/* stage 2*/

.stage-2 {
    max-width: 1579px;
    margin:0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.stage-2-left {
    margin-top: 62px;
    margin-left: 164px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stage-2-left h2 {
    max-width: 523px;
    text-transform: uppercase;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size: 42px;
    letter-spacing: 0.42px;
    line-height: 55px;
}

.stage-2-left p {
    margin-top: 0px;
    max-width: 539px;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.stage-2 a {
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.32px; 
    color: #FF2D2D;
    text-align: center;
    border: 2px solid #FF2D2D;
    border-radius: 5px;
    max-width: 224px;
    margin-top: 33px;
    padding: 14px 0px;
}

.services {
    margin-top: 97px; 
    padding-left: 86px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.services div {
    flex: 1 1 31%;
    max-width: 301px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 20px;
    font-size: 16px;
}

.services img {
    margin: 0;
    padding: 0;
}

.services h3 {
font-weight: 600;
font-size: 24px;
letter-spacing: 0.27px;
margin-bottom: 0px;
}

.services p {
    margin-top: 10px;
    line-height: 28px;
}



.line {
    margin-top: 42px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 55vw;
    color: #ECECEC;
}

/* media for stage-2 */

@media screen and (max-width: 1130px) {
    .stage-2 {
        flex-wrap: wrap;
    }

    .stage-2-left {
        margin: 0 auto;
    }

    .services {
        margin: 0 auto;
        padding-left: 0;
    }
}

@media screen and (max-width: 950px) {
    .stage-2-left {
        width: 90%;
    }

    .stage-2 a {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        min-width: 120px;
        width: 50%;
    }

    .services {
        width: 100%;
    }

    .services div {
        width: 40%;
        margin-right: 15px;
    }

    .services p {
        min-width: 160px;
    }

    .services img {
        display: none;
    }
}

/* stage-3 */

.stage-3 {
    max-width: 1579px;
    margin: 0 auto;
    padding-bottom: 52px;
}

.stage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stage-3 h2 {
    margin-top: 100px;
    margin-bottom: 10px;
    padding-left: 31px;
    font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 42px;
    color:#383838;
    opacity: 0.7;
    line-height: 45px;
    letter-spacing: 0.38px;
    text-transform: uppercase;
    word-break: break-all;
}

.feature-text {
    max-width: 500px;
    height: 46px;
    margin-top: 11px;
    padding-left: 24px;
    word-break: break-all;
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.stage-3 hr {
    width: 122px;
    height: 2px;
    background-color: #FF2D2D;
    border: none;
    margin: 20px auto;
}


.stage-3 ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-bottom: 60px;
}

.stage-3 a {
    position: relative;
    left: 52px;
    margin-right: 55px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.22px;
}

.stage-3 a:hover {
    color: #FF2D2D;
}

.list-rectangle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1249px;
}

.rectangle {
    flex: 1 1 24%;
    max-width: 290px;
    min-width: 249px;
    height: 291px;
    margin-bottom: 18px;
    object-fit: cover;
}

/* stage-4 */

.stage-4 {
    max-width: 1249px;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 110px; 
}

.stage-4-header {
    width: 100%;
    text-align: left;
    margin-bottom: 67px;
}

.stage-4-header h2 {
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    text-transform: uppercase;
    line-height: 0px;
    letter-spacing: 1px;
    margin-left: -9px;
}

.stage-4-header p {
    max-width: 450px;
    margin-top: 48px;
    line-height: 28px;
    margin-bottom: 30px;
}

.stage-4-header hr {
    border: none;
    width: 20%;
    height: 2px;
    background-color: #FF2D2D;
    margin-left: 0px;
}

.team {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.mark-photo {
    width: 321px;
    height: 458px;
    background-color: #FF3F40;
    margin-right: 58px; 
}

.mark-and-girl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.mark {
    max-width: 663px;
}

.mark h3 {
    margin-top: 5px;
    margin-bottom: 20px; 
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mark p {
    line-height: 27px;
}

.mark ul {
    display: flex;
}

.mark a {
   font-family: 'Open Sans Italic';
   color: #000000;
   font-size: 18px;
   letter-spacing: 1px;
}

.mark li {
    margin-top: 20px;
    margin-right: 31px;
}

.mark a:hover {
    text-decoration: underline;
}

.girls {
    display: flex;
    flex-wrap: wrap;
}

.girls div {
    margin-right: 18px;
}

.girl-photo  {
    background-color: #d4dce6;
    width: 197px;
}

.girls a {
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    height: 37px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Open Sans Bold';
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    top: 197px;
    opacity: 0;
}

.girls a:hover {
    background-color: gray;
    color: white;
    opacity: 0.7;
}

/* stage-5 */

.stage-5 {
    margin:0 auto;
    max-width: 1579px;
    min-height: 516px;
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage-5 h2 {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-top: 122px;
    margin-bottom: 12px;
    letter-spacing: 2.5px;    
}

.stage-5 p {
    color: #FFFFFF;
}

.email-form {
    width: 100%;
    margin-top: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage-5 input {
    width: 29.7%;
    min-width: 280px;
    min-height: 82px;
    border-style: none;
    border-radius: 5px;
    margin-right: 23px;
    color: #000000;
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-size: 16px;
    padding-left: 50px;
}

/* .email-form input::placeholder {
    padding-left: 50px;
} */

.stage-5 button {
    width: 13.6%;
    min-width: 122px;
    min-height: 82px;
    border-radius: 5px;
    border-color: #FF2D2D;
    background-color: #FF2D2D;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.317px;
}

/* media for stage-5 */

@media screen and (max-width: 950px) {
    .email-form {
        display: flex;
        flex-wrap: wrap;
    }

    .stage-5 button {
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

/* stage-6 */

.stage-6 {
    max-width: 1579px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.stage-6-left {
    max-width: 753px;
    margin-top: 84px;
    margin-left: 165px;
}

.stage-6-left h2 {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 41.9876px;
    line-height: 0px;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
}

.stage-6-left p {
    margin-top: 60.52px;
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.stage-6-left hr {
    margin-top: 50px;
    margin-left: 0;
    width: 134px;
    height: 2px;
    border-style: none;
    background-color: #FF2D2D;
}

.feedback-input input {
    padding-left: 50px;
    width: 46%;
    max-width: 290px;
    min-height: 67px;
    border-radius: 10px;
    border-width: 0.1px;
    mix-blend-mode: normal;
    background-color: #e6e6e6;
    margin-top: 66px;
    color: #000000;
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-size: 16px;
}

#name {
    margin-right: 3px;
}

.feedback-text {
    padding-right: 11px;
    display: flex;
    flex-direction: column;
}

.feedback-text textarea {
    min-height: 216px;
    margin-top: 44px;
    mix-blend-mode: normal;
    background-color: #e6e6e6;
    border-radius: 10px;
    border-color: #383838;
    border-width: 0.1px;
    color: #000000;
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-size: 16px;
    resize: none;
    padding-top: 33px;    
    padding-right: 50px;
    padding-left: 50px;
}

.feedback-text button {
    width: 100%;
    min-height: 75px;
    margin-top: 43px;
    border-style: none;
    border-radius: 5px;
    background-color: #FF2D2D;
    color: #FFFFFF;
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.317px;
    text-transform: uppercase;
    cursor: pointer;
}

.feedback-input {
    padding-right: 11px;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    margin-left: 96px;
    width: 585px;
    height: 485px;
    background-color: #2D2D2D;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-info h3,
.contact-info ul {
    margin-left: 79px;
}

.contact-info h3 {
    margin-top: 137px;
    margin-bottom: 8px;
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.contact-info ul {
    max-width: 315px;
    line-height: 28px;
}

.contact-info li {
    margin-top: 16px;
}

/* media for stage-6 */

@media screen and (max-width: 950px) {
    .stage-6 {
        flex-wrap: wrap;
    }

    .stage-6-left {
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .contact-info {
        margin: 0;
        width: 100%;
    }
}

/* footer */

footer {
    max-width: 1579px;
    min-height: 113px;
    margin-top: 109px;
    margin-right: auto;
    margin-left: auto;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    margin-top: 30px;
    margin-left: 167px;
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

footer .icons {
    margin-right: 168px;
}

.icons img {
    margin-top: 16px;
    margin-left: 12px;
}